/* pt-sans-regular - latin-ext_latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("./pt-sans-v9-latin-ext_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./pt-sans-v9-latin-ext_latin-regular.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-italic - latin-ext_latin */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("./pt-sans-v9-latin-ext_latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./pt-sans-v9-latin-ext_latin-italic.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-700 - latin-ext_latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("./pt-sans-v9-latin-ext_latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./pt-sans-v9-latin-ext_latin-700.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-700italic - latin-ext_latin */
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"),
    url("./pt-sans-v9-latin-ext_latin-700italic.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./pt-sans-v9-latin-ext_latin-700italic.woff") format("woff"); /* Modern Browsers */
}
